h1 {
  position: absolute;
  bottom: 30;
  left: 0;
  font-size: 15vw;
  font-weight: 100;
  letter-spacing: -0.04em;
  color: #690700;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;
}
@media (max-width: 900px) {
  h1 {
    font-size: 25vw;
  }
}
