* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  font-family: "SpaceGrotesk";
  background: #000;
}

a,
p {
  color: inherit;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 100;
  line-height: 100%;
}

.page-content {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 6em 2em;
}

.page-content.hero {
  background: url(./hero.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.logo {
  letter-spacing: -0.09em;
}

sup {
  letter-spacing: 0;
}
