.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-container {
  position: relative;
  width: 940px;
  height: 445px;
}
.hover-container .hover-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: url("./Espagne_2024_12.jpg");
  background-size: cover;
  background-position: 5%;
  mix-blend-mode: screen;
}
.hover-blocks {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
  gap: 5px;
}

.block {
  width: 50px;
  height: 50px;
  opacity: 0;
  mix-blend-mode: difference;
  background: #690700;
  transition: opacity 0.3s ease-in;
}

.block.active {
  opacity: 1;
}
@media (max-width: 900px) {
  .block {
    width: 25px;
    height: 25px;
  }
}
