.menu-bar,
.menu-overlay-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.menu-bar a,
.menu-open p {
  color: var(--menu-bar-text);
  cursor: pointer;
  transition: color var(--transition-speed) var(--transition-ease);
}

.menu-close p {
  color: var(--menu-over-text);
  cursor: pointer;
  transition: color var(--transition-speed) var(--transition-ease);
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 2em;
  background: var(--menu-overlay-bg);
  color: var(--menu-overlay-text);
  z-index: 10;
  display: flex;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0%);
  transition: background-color var(--transition-speed) var(--transition-ease);
}

.menu-close-icon {
  flex: 2;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
.menu-copy {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2em;
}
.menu-preview {
  flex: 4;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.menu-close-icon {
  font-size: 100px;
  line-height: 70%;
}

.menu-link-item {
  width: max-content;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.menu-link-item-holder {
  position: relative;
}

.menu-link-item-holder a {
  color: var(--menu-overlay-text);
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 92%;
  will-change: color;
  transition: all 0.5s ease;
}
.menu-link-item-holder a:hover {
  color: var(--menu-link-hover);
}
.menu-link-item-holder a:hover {
  background-position: bottom;
}

.menu-info {
  display: flex;
}
.menu-info-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 900px) {
  .menu-close-icon {
    display: none;
  }
  .menu-copy {
    padding-top: 8em;
  }
  .menu-link-item-holder a {
    font-size: 60px;
  }
}
