/* variables.css */
:root {
  --menu-bar-bg: #ffffff;
  --menu-bar-text: #fabab5;
  --menu-overlay-bg: #690700;
  --menu-overlay-text: #fabab5;
  --menu-link-hover: #be6f6f;

  --transition-speed: 0.5s;
  --transition-ease: cubic-bezier(0.4, 0, 0.2, 1);
}
